<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <data>
        <!--HEADER-->
        <menuitem
                id="menu_outsourcing_top"
                name="Outsourcing"
                sequence="99"/>

        <menuitem
                id="menu_contractor"
                name="Contractor"
                parent="menu_outsourcing_top"
                action="action_contractor"/>

        <menuitem
                id="menu_contract"
                name="Contract"
                parent="menu_outsourcing_top"
                action="action_contract"/>

        <menuitem
                id="menu_purchase_order"
                name="Purchase Order"
                parent="menu_outsourcing_top"
                action="action_purchase_order"/>

        <menuitem
                id="menu_invoice"
                name="Invoice"
                parent="menu_outsourcing_top"
                action="action_invoice"/>

        <menuitem
                id="menu_cear"
                name="CEAR"
                parent="menu_outsourcing_top"
                action="action_cear"/>

        <menuitem
                id="menu_oear"
                name="OEAR"
                parent="menu_outsourcing_top"
                action="action_oear"/>
    </data>
</odoo>
