<?xml version="1.0" encoding="utf-8"?>

<openerp>
  <data>
<!--HEADER-->
    <menuitem
        id="menu_outsourcing_top"
        name="Outsourcing"
        sequence="99"/>

<!--SIDEBAR-->
    <!--PARENT-->
    <menuitem
        id="menu_approval_top_left"
        name="Approval"
        parent="menu_outsourcing_top"/>
    <!--CHILD-->
    <menuitem
        id="menu_approval"
        name="Approval"
        parent="menu_approval_top_left"
        action="action_approval"/>

    <!--PARENT-->
    <menuitem
        id="menu_outsourcing_top_left"
        name="Purchase Order"
        parent="menu_outsourcing_top"/>
    <!--CHILD-->
    <menuitem
        id="menu_purchase_order"
        name="Purchase Order"
        parent="menu_outsourcing_top_left"
        action="action_purchase_order"/>

    <menuitem
        id="menu_purchase_order_line"
        name="Purchase Order Line"
        parent="menu_outsourcing_top_left"
        action="action_purchase_order_line"/>

    <menuitem
        id="menu_purchase_order_line_detail"
        name="Purchase Order Line Detail"
        parent="menu_outsourcing_top_left"
        action="action_purchase_order_line_detail"/>

  </data>
</openerp>
